
@keyframes to1 {
    from {background: var(--button-bg-1);} 
    to {background: var(--button-bg-2);} 
}

@keyframes from1 {
    from {background: var(--button-bg-2);} 
    to {background: var(--button-bg-1);} 
}
@keyframes to2 {
    from {background: var(--button-bg-3);} 
    to {background: var(--button-bg-4);} 
}

@keyframes from2 {
    from {background: var(--button-bg-4);} 
    to {background: var(--button-bg-3);} 
}

html {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: rgb(40, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    height: .333rem;
}

button {
    --button-bg-1: rgb(60, 60, 60);
    --button-bg-2: rgb(80, 80, 80);
    --button-bg-3: rgb(50, 50, 50);
    border: none;
    animation: from1 0.25s;
    background: var(--button-bg-1);
    color: white;
    border-radius: 8px;
    padding: 5px;
}

button:disabled {
    background: var(--button-bg-3);
    color: lightgrey;
}

button:hover {
    animation: to1 0.25s;
    background: var(--button-bg-2);
}

button:not(:disabled):active {
    animation: from1 0.25s;
    background: var(--button-bg-1);
}

a {
    color: cyan;
}

a:visited {
    color: lightblue;
}

button.click {
    font-size: 1.5rem;
}