:root{
    --button-bg-1: rgb(60, 60, 60);
    --button-bg-2: rgb(80, 80, 80);
    --button-bg-3: rgb(50, 50, 50);
}

@keyframes to {
    from {background: var(--button-bg-1);} 
    to {background: var(--button-bg-2);} 
}
@keyframes from {
    from {background: var(--button-bg-2);} 
    to {background: var(--button-bg-1);} 
}

html {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: rgb(40, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
}

div {
    height: 5px;
}

button {
    border: none;
    background: var(--button-bg-1);
    color: white;
    animation: from 0.25s;
    border-radius: 8px;
    font-size: .8rem;
    padding: 5px;
}

button:disabled {
    background: var(--button-bg-3);
    color: lightgrey;
}

button:hover {
    background: var(--button-bg-2);
    animation: to 0.25s;
}

button:not(:disabled):active {
    background: var(--button-bg-1);
    animation: from 0.25s;
}

a {
    color: cyan;
}

a:visited {
    color: lightblue;
}

button.click {
    font-size: xx-large;
    padding: 10px;
}