:root {
    --button-bg-1: rgb(60, 60, 60);
    --button-bg-2: rgb(80, 80, 80);
    --button-bg-3: rgb(50, 50, 50);
}

/* width */
::-webkit-scrollbar {
  width: .2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50, 50, 50); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@keyframes to {
    from {
        background-color: var(--button-bg-1);
    }

    to {
        background-color: var(--button-bg-2);
    }
}

@keyframes from {
    from {
        background-color: var(--button-bg-2);
    }

    to {
        background-color: var(--button-bg-1);
    }
}

html {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
}

body {
    background-color: inherit;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: var(--button-bg-1);
    color: white;
    animation: from 0.25s;
    border-radius: 8px;
    font-size: .8rem;
    padding: 5px;
}

div.s3px {
    height: 3px;
}

div.s5px {
    height: 5px;
}

div.s7px {
    height: 7px;
}

div.s10px {
    height: 10px;
}

button:disabled {
    background-color: var(--button-bg-3);
    color: lightgrey;
}

button:hover {
    background-color: var(--button-bg-2);
    animation: to 0.25s;
}

button:not(:disabled):active {
    background-color: var(--button-bg-1);
    animation: from 0.25s;
}

button.click {
    font-size: xx-large;
    padding: 10px;
}

.topnav {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    margin: 0px;
    display: block;
}

@keyframes achievement-bye {
    to {margin-left: -100%; background-color: rgb(60, 60, 60)}
}

div.achievement {
    margin-left: 5px;
    margin-top: 5px;
    width: 200px;
    height: 100px;
    background-color: rgb(60, 60, 60);
    color: white;
    border-radius: 8px;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    text-align: left;
    overflow: hidden;
    animation: achievement-bye .5s;
    animation-direction: reverse;
}

div.achievement h1 {
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 1.4rem;
    width: 100%;
    display: inline-block;
}

div.achievement p {
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    text-size-adjust: auto;
    width: 100%;
    text-overflow: clip;
    display: inline-block;
}


div.achievement.bye {
    background-color: rgb(255, 255, 255);
    animation: achievement-bye .5s;
}

div.achievements {
    margin: 0px;
    display: block;
    float: left;
    position: absolute;
    width: 200px;
    height: 100px;
    height: fit-content;
    text-align: left;
}

a {
    color: darkcyan;
}

a:visited {
    color: cyan;
}

a:active {
    color: white;
}

div.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.topnav a:hover {
    background-color: grey;
    color: black;
}

div.topnav a.active {
    background-color: rgb(50, 50, 50);
    color: white;
}

div.button-grid {
    overflow: visible;
    display: block;
    overflow-wrap: anywhere;
}

div.button-grid a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 8px;
    animation: from 0.25s;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

div.button-grid a p {
    filter: none;
}

p#ctitle {
    font-size: large;
    font-weight: bolder;
}

div.button-grid a:hover {
    background-color: var(--button-bg-2);
    animation: to 0.25s;
}

div.button-grid a:active {
    background-color: var(--button-bg-1);
    animation: from 0.25s;
}

h1 {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}